<div class="container">
  <header>
    <h1>About</h1>
  </header>
  <hr/>
  <nav>
    <ul class="nav nav-pills">
      <li><a href="/">Home <span class="badge"></span></a></li>
      <li><a href="/post/create">Create</a></li>
      <li class="active"><a href="/about">About</a></li>
    </ul>
  </nav>
  <hr>
  <div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Credit</h3>
      </div>
    <div class="panel-body">
      
      B00705014 <br>
      資管三 <br>
      徐育粮 <br>
    </div>
  </div>
</div>
